*{
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: weight; */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header img {
    width: 5em;
    height: auto;
    margin-left: 120px;
}
div.color{
    background-color: #FAE5D1;
}

header li {
    text-align: center;
    padding-bottom: 15px;
    list-style-type: none;
    margin-left: -3em;
    
}
div.separer ul {
    background-color: rgb(26, 26, 27)
}
li {
    color: #FAE5D1;
}
img{
    height: 15em;
    width: auto;
    border-radius: 8px;
}
main{
    text-align: center;
}
.block h4{
    margin-top: 1em;
}
div.block {
    background-color: rgb(236, 217, 193);
    margin-block: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
    margin-inline-start: 0.8em;
    margin-inline-end: 0.8em;
    border-style: dotted; 
}
button{
    background-color: black;
    color: white;
    width: 15em;
    height: 3em;
    border-radius: 20px;
}
svg{
    max-width: 2em;
}
.logo1{
    padding-right: 6em;
    padding-bottom: 1em;
}


button ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2em 7em 1em;
    margin-left: -2em;
    margin-top: 0.5em;
}

button li h6{
    margin-top: 1em;
}

.logolbb img {
    width: 5em;
    height: auto;
    position: relative;
    margin-left: 7.5em;
}

article.info ul li{
    margin-left: 3em;
    margin-top: 1em;
    text-decoration: underline;
    padding-bottom: 0.5em;
}

.infoPratique h2{
    color: #FAE5D1;
    margin-left: 2em;
    margin-top: -1.5em;
    padding-top: 2em;
}
div.color1{
    background-color:  #AC7961 ;
    color: #FAE5D1;
    padding-bottom: 2em;
}
.color1 footer{
    padding-top: 5em;
    margin-left: 2em;
}
h5{
    padding-top: 5em;
    margin-left: 7.8em;
}

@media screen and (min-width: 768px ){
    div.color{
        padding-left: 14em;
        background-color: #FAE5D1;

    }div.separer li{
        display: flex;
        display: inline-block;
        margin-left: 2em;
        background-color: black;
        padding: 1em;
        border-radius: 0 0 0.5em 0.5em;
        
    }div.separer ul{
        background-color: white;
        padding: 0;

    }section#column{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 0 10em;        

    }div.logolbb{
        margin-left: 14em;

    }div.color1{
        background-color:  #AC7961 ;

    }div.infoPratique{
        margin-left: -2em;

    }h5 {
        margin-left: 25em;

    }div.color1 footer{
        margin-left: 14em;
    }

};
        
@media screen and  (max-width: 1024px){
    div.separer {
        padding-left: 100em;
    }
}
        


